/* Reset default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("background.jpg");
  background-size: cover; 
  background-position: center center;
  height:100vh;

  
   display: flex;  
  justify-content: center;
  align-items: center;
   height: 100vh;  
}

.login-container {
  background: rgba(197, 5, 5, 0.901);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgb(0, 0, 0);
  width: 300px;
}

h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.input-group {
  margin-bottom: 1rem;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.input-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 0.7rem;
  background-color: #1073e6;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #357ab8;
}
